.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
*.tfstate.backup


!terraform.tfvars.example
!.terraform.lock.hcl
