subscription_id     = "00000000-0000-0000-0000-000000000000"
resource_group_name = "aks-practice-rg"
cluster_name        = "aks-practice-cluster"
dns_prefix          = "aks-practice"
location            = "centralindia"
node_count          = 1
node_vm_size        = "Standard_B2s"

